{
  "parser": "babel-eslint",
  "extends": [
    "airbnb"
  ],
  "env": {
    "browser": true
  },
  "plugins": [
    "flowtype"
  ],
  "rules": {
    "react/jsx-filename-extension": "off",
    "no-unused-vars": "off",
    "no-bitwise": "off",
    "quotes": [
      "error",
      "single"
    ],
    "no-shadow": "off"
  },
  "settings": {
    "flowtype": {
      "onlyFilesWithFlowAnnotation": true
    }
  }
}